@tailwind base;
@tailwind components;
@tailwind utilities;
.sq {
  border: 1.5px solid #eb6200;  /* Adjusted border size */
  border-top: 0px;
  height: 300px;  /* Adjusted height */
  width: 398px;  /* Adjusted width */
  position: relative;
  margin-top: 75px;  /* Adjusted margin */
}

.tl {
  position: absolute;
  top: -85.5px;  /* Adjusted top */
  left: -86.5px;  /* Adjusted left to center the roof */
  border-left: 1.5px solid #eb6200;  /* Adjusted border size */
  border-top: 1.5px solid #eb6200;
  height: 282.25px;  /* Adjusted height */
  width: 282.25px;  /* Adjusted width */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 100% 100%;
}



.customcontact {
  background-image: url('/ddcontactb.jpg');
}

.homeheaderbg {
  background: rgb(255,250,241);
}

.ourservices {
  background: rgb(255,250,241);
background: linear-gradient(180deg, rgba(255,250,241,1) 0%, rgba(12,25,91,1) 100%);
}

.three-icon-home {
  background: rgba(12,25,91,1)

}