@tailwind base;
@tailwind components;
@tailwind utilities;
.sq {
  border: 1.5px solid #eb6200;  /* Adjusted border size */
  border-top: 0px;
  height: 300px;  /* Adjusted height */
  width: 398px;  /* Adjusted width */
  position: relative;
  margin-top: 75px;  /* Adjusted margin */
}

.tl {
  position: absolute;
  top: -85.5px;  /* Adjusted top */
  left: -86.5px;  /* Adjusted left to center the roof */
  border-left: 1.5px solid #eb6200;  /* Adjusted border size */
  border-top: 1.5px solid #eb6200;
  height: 282.25px;  /* Adjusted height */
  width: 282.25px;  /* Adjusted width */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.homeheaderbg {
  background: rgb(255,250,241);
}

.ourservices {
  background: rgb(255,250,241);
background: linear-gradient(180deg, rgba(255,250,241,1) 0%, rgba(12,25,91,1) 100%);
}

.three-icon-home {
  background: rgba(12,25,91,1)

}

.openers {
  background: rgb(255,250,241);
background: linear-gradient(180deg, rgba(255,250,241,1) 0%, rgba(235,98,0,1) 100%);
}

.slideshowcontainer {
  height: 70rem;
  width:90rem;

}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  background-repeat: no-repeat;
}

.slide.active {
  z-index: 2;
  transition: opacity 1s ease-in-out;
}

.indicator {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.indicator-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 5px;
  opacity: 0.7;
}

.indicator-dot.active {
  opacity: 1;
}
.headshotcircle {
  height:250px;
  width:250px;
background-size:cover;
  border-radius: 50%;

  margin-top:20px;
}

.gradientpaletoblue {
  background: rgb(255,250,241);
  background: linear-gradient(176deg, rgba(255,250,241,1) 0%, rgba(12,25,91,1) 100%);
}

.gradientpaletoorange {
  background: rgb(255,250,241);
  background: linear-gradient(176deg, rgba(255,250,241,1) 0%, rgba(235,98,0,1) 100%);
}

.gradientbluetoorange {
  background: rgb(12,25,91);
  background: linear-gradient(176deg, rgba(12,25,91,1) 0%, rgba(255,192,146,1) 100%);
}

.logo-box-home-header{
  background-image:url("/logo-dd.png");
  background-size: cover;
  background-position: center center;
}

.before-after-slider {
  margin:20px;

}