@tailwind base;
@tailwind components;
@tailwind utilities;

.sq {
  border: 2px solid #eb6200;
  border-top:0px;
  height: 400px;
  width: 500px;
  position: relative;
  margin-top: 100px;
}
.tl {
  position: absolute;
  top: -106px;
  left: -110px;
  border-left: 2px solid #eb6200;
  border-top: 2px solid #eb6200;
  height:355px;
  width: 355px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.customcontact {
  background-image: url('/ddcontactb.jpg');
}

.homeheaderbg {
  background: rgb(255,250,241);
}

.ourservices {
  background: rgb(255,250,241);
background: linear-gradient(180deg, rgba(255,250,241,1) 0%, rgba(12,25,91,1) 100%);
}